<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Registration</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>
	<div class="container my-2" align="center">
		<body>
			<h2>Registration Form</h2>
			<form th:action="@{/register}" th:object="${user}" method="post">
				<label for="username">Username:</label> <input type="text"
					id="username" name="username" th:field="*{username}" required><br>
				<label for="password">Password:</label>
				<inputtype ="password" id="password" name="password"
					th:field="*{password}" required> <br>
					<inputtype ="mail" id="mail" name="mail"
					th:field="*{mail}" required> <br>
				<button type="submit">Register</button>
			</form>
		</body>
		<button class="btn btn-primary" type="submit">save</button>
		</form>
	</div>
</body>
</html>
